


.header > ul li{
	display: inline-block;
	width: 100%;
	border: 1px solid red;
}

.footer{
	height: 100px;
}

/*.header{
	background-color: green;
	display: block;
}

*/


/*@media screen and (max-width: 400px) {*/
  /*.header ul {*/
  .header ul li:not(:first-child){
    display: none;
  }
  .header a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
/*}*/

/*@media screen and (max-width: 400px){*/
  .header.responsive {position: relative;}
  .header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
  }
  .header.responsive ul li{
    float: none;
    display: block;
    text-align: left;
  }
  
/*}*/